name: Docker Build

on:
  push:
    branches:
      - main
    paths:
      - '**.go'
      - 'go.*'
      - 'Dockerfile*'
      - '.goreleaser.yaml'
      - '.github/workflows/docker.yaml'
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  changes:
    name: Detect changes
    runs-on: ubuntu-latest
    outputs:
      docker: ${{ steps.filter.outputs.docker }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            docker:
              - '**.go'
              - 'go.*'
              - 'Dockerfile*'
              - '.goreleaser.yaml'
              - '.github/workflows/docker.yaml'

  docker:
    name: Docker Build
    needs: changes
    if: needs.changes.outputs.docker == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/pavlenkoa/vault-secrets-generator
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=sha,prefix=

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
