name: Lint & Test

on:
  push:
    branches:
      - main
    paths:
      - '**.go'
      - 'go.*'
      - '.golangci.yaml'
      - '.github/workflows/lint.yaml'
  pull_request:
    branches:
      - main
    paths:
      - '**.go'
      - 'go.*'
      - '.golangci.yaml'
      - '.github/workflows/lint.yaml'

permissions:
  contents: read

jobs:
  lint:
    name: Lint & Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6

      - name: Test
        run: go test -v -race -coverprofile=coverage.out -covermode=atomic ./...

      - name: Build
        run: go build .
